{{> login-nav }}
<div id="single-post-container">
    <div id="post-title">{{post.title}}</div>
    <div id="post-content">{{post.content}}</div>
    <div id="post-info">Posted by {{post.user.username}} on {{post.createdAt}}</div>
</div>
{{#each post.comments}}
<div id="comment-container">
    <div id="comment-content">{{content}}</div>
    <div id="comment-info">Comment by {{user.username}} on {{createdAt}}</div>
</div>
{{/each}}
<button id="edit-btn">Edit</button>
<button id="delete-btn">Delete</button>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/logout.js"></script>
<script src="/javascript/dashboard.js"></script>
