{{> nav }}
<div id="single-post-container">
    <div id="post-title-container">
        <div id="post-title">{{post.title}}</div>
        <div id="post-info">Posted by {{post.user.username}} on {{format_date post.createdAt}}</div>
    </div>
    <div id="post-content">{{post.content}}</div>
{{#each post.comments}}
<div id="comment-container">
    <div id="comment-content">{{content}}</div>
    <div id="comment-info">Comment by {{user.username}} on {{format_date createdAt}}</div>
</div>
{{/each}}
</div>
<div id="dash-btn-container">
<button id="edit-btn">Edit</button>
<button id="delete-btn">Delete</button>
</div>

<script src="/javascript/delete-post.js"></script>
<script src="/javascript/logout.js"></script>
<script src="/javascript/dashboard.js"></script>